<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename="css/main.css" )}}">
        {% block head%} {% endblock %}
    </head>
    <body>
        <div class="TopBar">
            <div class="NavBar">
                <h1>LibreSecurityCam WebPortal</h1>
                <div class="NavBar">

                    <a class="NavBarLink" href="/">Main Page</a>
                    {% if userInfo: %}
                        <a class="NavBarLink" href="{{url_for('main')}}">{{userInfo}}</a>
                        <a class="NavBarLink" href="{{url_for('logout')}}">Log Out</a>
                    {% else: %}  
                        <a class="NavBarLink" href="/login">Login</a>
                        <a class="NavBarLink" href="/register">Register</a>
                    {% endif %}
                    <br>
                </div>
                
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages: %}
                {% for category, msg in messages %}
                    <div class="flash{{category}}">
                        <p1>{{msg}}</p1>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block body %} {% endblock %}
    </body>
</html