{% extends 'html/base.html'%}


{% block head %}
    <title>User Information</title>
{% endblock head %}
    

{% block body %}
   <h2>Hello, {{current_user.username}}</h2>
   <form action="#" method='POST'>
        {{form.hidden_tag()}}
        {{form.username.label(class='formText')}}
        {{form.username(class='formInput')}}
        
        {% if form.username.errors %}
            {% for error in form.username.errors%}
                <br><p5>{{error}}</p5>
            {% endfor %}
        {% endif %}
        <br>
        {{form.password.label(class="formText")}}
        {{form.password(class="formInput")}}
        {% if form.password.errors %}
            {% for error in form.password.errors%}
                <br><p5>{{error}}</p5>
            {% endfor %}
        {% endif %}
        <br>
        {{form.confirmPass.label(class='formText')}}
        {{form.confirmPass(class='formInput')}}
        {% if form.confirmPass.errors %}
            {% for error in form.confirmPass.errors %}
                <br><p5>{{error}}</p5>
            {% endfor %}
        {% endif %}
        <br>
        {{form.submit()}}
    </form>
{% endblock body %}
    