{% extends 'html/base.html'%}


{% block head %}
    <title>User Information</title>
{% endblock head %}
    

{% block body %}
   <h2>Hello, {{userInfo}}</h2>
   <form action="#" method='POST'>
        <h3>Change name:</h3>
        <input type="text" name = "username" placeholder="Type new username here"/>
        <h3>Change password:</h3>
        <input type="password" name = "currentPasscode" placeholder="Enter current passcode"/>
        <input type="password" name = "newPasscode" placeholder="Enter new passcode"/>
        <input type="submit" value="submit"/>
    </form>
{% endblock body %}
    