
.ProfilePictureAdminPanel
{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    transition: 0.4s;
}

.ProfilePictureAdminPanel:hover
{
    width: 55px;
    height: 55px;
    border-radius: 100px;
    transition: 0.4s;
}

/* Фон на User Control */
.UserControlBox
{
    background-image: url(Form_Background.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    margin: auto;
    display: block;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    width: 70%;
    height: 400px;

    /* Сянка */
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.72);
    -moz-box-shadow:    0px 0px 25px 0px rgba(50, 50, 50, 0.72);
    box-shadow:         0px 0px 25px 0px rgba(50, 50, 50, 0.72);
}


/* User Control */
.UserControlLink
{
    color: #b8bcc5;
    text-decoration: none;
    margin: auto;
    position: block;
    transition: 0.4s;
}

.UserControlLink:hover
{
    color: #454954;
    text-decoration: none;
    margin: auto;
    position: block;
    transition: 0.4s;
}

/* Регистрационен бутон */
.RegisterBtn
{
    color: white;
    display: block;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
    transition: 0.4s;
}
.RegisterBtn:hover
{
    font-size: 26px;
    text-decoration: none;
}


/* Информация в клетките */

/* Таблица подравняване */
table.center
{
    margin-left: auto;
    margin-right: auto;
}

/* Таблица големина */
.table
{
      width: 100%;
      display:block;
}

/* Таблица клетки */
thead {
    display: inline-block;
    width: 100%;
    height: 50px;
}
tbody {
    height: 250px;
    display: inline-block;
    width: 100%;
    overflow: auto;
}
  
td, th 
{

    font-size: 22px;
    
    padding: 
    /* между input и label */
    10px 

    /* дясно */
    20px 

    /* междуредие */
    10px

    /* ляво*/
    10px;

    color: white;
    text-align: left;
}


