/* Фон на User Control */
.PasswordForm_design
{
    background-image: url(Form_Background.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    margin: 20px auto 0 auto;
    width: 700px;
    height: 400px;

    /* Сянка */
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.72);
    -moz-box-shadow:    0px 0px 25px 0px rgba(50, 50, 50, 0.72);
    box-shadow:         0px 0px 25px 0px rgba(50, 50, 50, 0.72);
}
.PasswordForm_design
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

