/* форма */ 
#form_design
{
    background-image: url(Form_Background.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px auto 0 auto;
    width: 750px;
    height: 400px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.72);
    -moz-box-shadow:    0px 0px 25px 0px rgba(50, 50, 50, 0.72);
    box-shadow:         0px 0px 25px 0px rgba(50, 50, 50, 0.72);
}


@media only screen and (max-width: 440px) {
    #form_design{
        width: 350px;
        height: 400px;
    }
}
@media only screen and (min-width: 441px) and (max-width: 520px) {
    #form_design{
        width: 440px;
        height: 400px;
    }
}
