/* Шрифтове */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat.ttf'),
         url('fonts/Montserrat.eot');
         font-weight: 500;
}

/* фон */
body
{
    background-image: url(Background_main-elements.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Montserrat';
}


/* Top line indicator */
/* успех */
.flashSuccess
{
    background-color: #084C2A;
    text-align: center;
    color: white;
}

/* грешка */
.flashFailed
{
    background-color: #E50C0C;
    text-align: center;
    color:white;
}

/* проблем */
.flashWarning
{
    background-color: #996600;
    color: white;
}



/* ДИЗАЙНИ */
/* Стилове на шрифта */
h1
{
    color: white;
    font-size: 48px;
    text-align: center;
}


h2 
{
    text-align: center;
    color: white;
    float: center;
    font-size: 20px;
    margin-bottom: 0px;
    padding: 12px 0;
}

h3
{
    color: white;
    font-size: 18px;
    text-align: center;
    float: center;
    font-weight: 400;
    margin-bottom: 0px;
}

h4
{
    color: white;
    font-size: 32px;
    text-align: center;
    float: center;
    margin-bottom: 30px;
}


p1
{
    color: white;
}

p5
{
    color: white;
    font-size: 12px;
}


/* header + navbar*/
.TopBar
{
    overflow: hidden;
    width: 100%;
    background-color: #23243C;
    font-family: 'Montserrat';
    text-align: center;
    box-shadow: 0px 0px 35px -1px rgba(81,82,107,0.66);
    -webkit-box-shadow: 0px 0px 35px -1px rgba(81,82,107,0.66);
    -moz-box-shadow: 0px 0px 35px -1px rgba(81,82,107,0.66);
}
.TopBarTitle
{
    color: white;
    text-decoration: none;
    padding: 12px 12px 12px 12px; 
    font-size: 48px;
    font-weight: 700;
    width: 100%;
}

.NavBarLink
{
    color: white;
    text-decoration: none;
    padding: 12px 12px 12px 12px; 
    font-size: 22px;
    width: 100%;
    transition: 0.4s;
}

.NavBarLink:hover
{
    color: rgb(85, 85, 85);
    text-decoration: none;
    padding: 12px 12px 12px 12px; 
    font-size: 24px;
    width: 100%;
    transition: 0.4s;
}


/* Профилна снимка */
.ProfilePicture
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: auto;
    transition: 0.4s;
}

.ProfilePicture:hover
{
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: block;
    margin: auto;
    transition: 0.4s;
}

.ControlOptions
{
    text-align: center;
}



/* Дизайни за Login и променяне на u-name + 
регистриране + смяна на парола + профилна снимка*/
/* форма */ 
#form_design
{
    background-image: url(Form_Background.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    margin: 20px auto 0 auto;
    width: 700px;
    height: 450px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.72);
    -moz-box-shadow:    0px 0px 25px 0px rgba(50, 50, 50, 0.72);
    box-shadow:         0px 0px 25px 0px rgba(50, 50, 50, 0.72);
}

#form_design
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* цвят на шрифта на формата input големина */
label
{
    color: white;
    padding-top: 10px;
    text-align: center;
    font-family: 'Montserrat',;
}

/* Заглавия на input формите */
.formText
{
    margin:
    /* между input и label */
    3px 

    /* дясно */
    0px 

    /* междуредие */
    15px

    /* ляво*/
    100px;
}

/* цвят на input текста в полето */
.formInput
{
    margin: auto;
    display: block;
    width: 70%;
    text-align: left;
    color: #23243C;
    border-radius: 18px;
    padding: 10px 10px 10px 10px;
    font-family: 'Montserrat';
    
}

.checkBox{
    margin:auto;
    margin:
    /* между input и label */
    3px 

    /* дясно */
    0px 

    /* междуредие */
    15px

    /* ляво*/
    100px;
}


/* бутон + шрифт */
.SubmitBtn
{
    width: 200px;
    height: 50px;
    color: #5681A0;
    background: white;
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 18px;
    display: block;
    margin: auto;
    
}

.Content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 440px) {
    h1{
    font-size: 2em;
    }
    h2, h3, h4{
        font-size: 1em;
    }
    .TopBarTitle{
    font-size: 2em;
    }
    .checkBox{
        margin: 3px 0px 15px 50px;
    }
    .formText{
        margin: 10px 0px 10px 50px;
    }
    label{
        padding-top: 5px;
    }
    #form_design{
        width: 350px;
        height: 400px;
    }
    .NavBarLink{
        font-size: 1.1em;
    }
    .NavBarLink:hover{
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 441px) and (max-width: 520px) {    
        h1{
        font-size: 1.9em;
        }
        h2, h3, h4{
            font-size: 1em;
        }
        .TopBarTitle{
        font-size: 1.9em;
        }
        .checkBox{
            margin: 3px 0px 15px 45px;
        }
        .formText{
            margin: 0px 0px 10px 45px;
        }
        label{
            padding-top: 10px;
        }
        #form_design{
            width: 350px;
            height: 400px;
        }
        .NavBarLink{
            font-size: 1.1em;
        }
        .NavBarLink:hover{
            font-size: 1.2em;
        }
}
@media only screen and (min-width: 521px) and (max-width: 640px) {
            h1{
            font-size: 2.2em;
            }
            h2, h3, h4{
                font-size: 1.3em;
            }
            .TopBarTitle{
            font-size: 2.2em;
            }
            .checkBox{
                margin: 3px 0px 15px 70px;
            }
            .formText{
                margin: 0px 0px 10px 70px;
            }
            label{
                padding-top: 10px;
            }
            #form_design{
                width: 350px;
                height: 400px;
            }
            .NavBarLink{
                font-size: 1.2em;
            }
            .NavBarLink:hover{
                font-size: 1.3em;
            }
}
@media only screen and (min-width: 641px) and (max-width: 820px) {
            h1{
            font-size: 2.3em;
            }
            h2, h3, h4{
                font-size: 1.4em;
            }
            .TopBarTitle{
            font-size: 2.3em;
            }
            .checkBox{
                margin: 3px 0px 15px 90px;
            }
            .formText{
                margin: 0px 0px 10px 90px;
            }
            label{
                padding-top: 10px;
            }
            #form_design{
                width: 350px;
                height: 400px;
            }
            .NavBarLink{
                font-size: 1.3em;
            }
            .NavBarLink:hover{
                font-size: 1.4em;
            }
}