/* фон */
body
{
    background-image: url(Background_main-elements.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}


/* успех */
.flashSuccess
{
    margin-top: 5px;
    background-color: #084C2A;
    text-align: center;
    color: white;
}

/* грешка */
.flashFailed
{
    background-color: #E50C0C;
    text-align: center;
    color:white;
}

/* проблем */
.flashWarning
{
    background-color: #996600;
    color: white;
}




/* header */
.TopBar
{
    top:0;
    width: 100%;
    background-color: #23243C;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* бутони в header */ 
.NavBarLink
{
    color: white;
    text-decoration: none;
    padding: 12px 12px 12px 12px; 
    font-size: 22px;
    width: 100%;
}




h1, h3, h4
{
    color: white;
    text-align: center;
}

h2 
{
    text-align: center;
    color: white;
    float: center;
    font-size: 48px;
    margin-bottom: 0px;
    padding: 12px 0;
}

p1
{
    color: white;
}

p5
{
    color: white;
    font-size: 12px;
}


/* ДИЗАЙНИ */

/* форма */ 
#form_design
{
    margin: auto;
    display: block;
    width: 300px;
    
}

/* цвят на шрифта на формата*/
label
{
    color: white;
    padding-top: 10px;
    text-align: center;
}

/* цвят на input текста в полето + input големина*/
.formInput
{
    text-align: left;
    width: 100%;
    color: #B8BCC5;
    border-radius: 18px;
    padding: 10px 10px 10px 10px;
    margin:
    /* между input и label */
    3px 

    /* дясно */
    0px 

    /* междуредие */
    15px

    /* ляво*/
    -10px;
}


/* бутон + шрифт */
.SubmitBtn
{
    width: 200px;
    height: 50px;
    color: #5681A0;
    background: white;
    border-radius: 50px;
    padding: 5px;
    margin: 15px 0px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

/* бутон на video */
#Arm_Toggle_Button
{
    width: 150px;
    color: #5681A0;
    background: white;
    border-radius: 50px;
    padding: 5px;
    margin: 15px;
    margin: center;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
}



/* видео плеър */
#vid1
{
    margin: auto;
}
