/* видео плеър */
#vid1
{
    margin: auto;
    width: 90%;
    height: 600px;
}

/* бутон на video */
#Arm_Toggle_Button
{
    width: 150px;
    color: #5681A0;
    background: white;
    border-radius: 50px;
    padding: 5px;
    margin: 15px calc(90% - 150px) 15px 0;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    transition: 0.4s;
}

#Arm_Toggle_Button:hover
{
    width: 160px;
    color: #5681A0;
    background: white;
    border-radius: 50px;
    padding: 5px;
    margin: 15px calc(90% - 150px) 15px 0;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    transition: 0.4s;
}
@media only screen and (max-width: 440px){
    #vid1{
        height: 300px;
    }
}
@media only screen and (min-width: 441px) and (max-width: 520px) {
    #vid1{
        height: 350px;
    }
}