/* Шрифтове */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat.ttf'),
         url('fonts/Montserrat.eot');
         font-weight: 500;
}

/* фон */
body
{
    background-image: url(Background_main-elements.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Montserrat';
}


/* Top line indicator */

/* успех */
.flashSuccess
{
    background-color: #084C2A;
    text-align: center;
    color: white;
}

/* грешка */
.flashFailed
{
    background-color: #E50C0C;
    text-align: center;
    color:white;
}

/* проблем */
.flashWarning
{
    background-color: #996600;
    color: white;
}


/* ДИЗАЙНИ */

/* header */
.TopBar
{
    overflow: hidden;
    width: 100%;
    background-color: #23243C;
    font-family: 'Montserrat';
    text-align: center;
    box-shadow: 0px 0px 35px -1px rgba(81,82,107,0.66);
    -webkit-box-shadow: 0px 0px 35px -1px rgba(81,82,107,0.66);
    -moz-box-shadow: 0px 0px 35px -1px rgba(81,82,107,0.66);
}

/* header */ 
.TopBarTitle
{
    color: white;
    text-decoration: none;
    padding: 12px 12px 12px 12px; 
    font-size: 48px;
    font-weight: 700;
    width: 100%;
}
.NavBarLink
{
    color: white;
    text-decoration: none;
    padding: 12px 12px 12px 12px; 
    font-size: 22px;
    width: 100%;
    transition: 0.4s;
}
.NavBarLink:hover
{
    color: rgb(85, 85, 85);
    text-decoration: none;
    padding: 12px 12px 12px 12px; 
    font-size: 24px;
    width: 100%;
    transition: 0.4s;
}

h1, h3, h4
{
    color: white;
    font-size: 48px;
    text-align: center;
}

h2 
{
    text-align: center;
    color: white;
    float: center;
    font-size: 20px;
    margin-bottom: 0px;
    padding: 12px 0;
}

p1
{
    color: white;
}

p5
{
    color: white;
    font-size: 12px;
}

/* форма */ 
#form_design
{
    background-image: url(Form_Background.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 700px;
    height: 400px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.72);
    -moz-box-shadow:    0px 0px 25px 0px rgba(50, 50, 50, 0.72);
    box-shadow:         0px 0px 25px 0px rgba(50, 50, 50, 0.72);
}


.ControlOptions
{
    text-align: center;
}

/* Профилна снимка */
.ProfilePicture
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: auto;
    transition: 0.4s;
}

.ProfilePicture:hover
{
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: block;
    margin: auto;
    transition: 0.4s;
}


/* фон на полетата */
#userinfo{
    background-image: url(Form_Background.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    width: 900px;
    height: 400px;

    /* Сянка */
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.72);
    -moz-box-shadow:    0px 0px 25px 0px rgba(50, 50, 50, 0.72);
    box-shadow:         0px 0px 25px 0px rgba(50, 50, 50, 0.72);
}


/* цвят на шрифта на формата input големина */
label
{
    color: white;
    padding-top: 10px;
    text-align: center;
    font-family: 'Montserrat';
}


/* Заглавия на input формите */
.formText
{
    margin:
    /* между input и label */
    3px 

    /* дясно */
    0px 

    /* междуредие */
    15px

    /* ляво*/
    100px;
}

/* цвят на input текста в полето */
.formInput
{
    margin: auto;
    display: block;
    width: 70%;
    text-align: left;
    color: #23243C;
    border-radius: 18px;
    padding: 10px 10px 10px 10px;   
    
    font-family: 'Montserrat';
    
}

.checkBox{
    margin:auto;
    margin:
    /* между input и label */
    3px 

    /* дясно */
    0px 

    /* междуредие */
    15px

    /* ляво*/
    100px;
}


/* Бутони */

/* Регистрационен бутон */
.RegisterBtn
{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

/* бутон + шрифт */
.SubmitBtn
{
    width: 200px;
    height: 50px;
    color: #5681A0;
    background: white;
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 18px;
    display: block;
    margin: auto;
}




/* Потребителски настройки */

/* Потребителско поле */
.UserGreeter
{
    /* */
}

/* Линкове към настройки */
.ControlUserMenuLink
{
    color: white;
    text-decoration: none;
    font-size: 25px;
    width: 100%;
    transition: 0.4s;
}
.ControlUserMenuLink:hover
{
    color: rgb(95, 95, 95);
    text-decoration: none;
    font-size: 26px;
    width: 100%;
    transition: 0.4s;
}


/* видео плеър */
#vid1
{
    margin: auto;
}

/* бутон на video */
#Arm_Toggle_Button
{
    width: 150px;
    color: #5681A0;
    background: white;
    border-radius: 50px;
    padding: 5px;
    margin: 15px;
    margin: center;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    transition: 0.4s;
}

#Arm_Toggle_Button:hover
{
    width: 160px;
    color: #5681A0;
    background: white;
    border-radius: 50px;
    padding: 5px;
    margin: 15px;
    margin: center;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    transition: 0.4s;
}