/* фон */
body
{
    background-image: url(Background_main-elements.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

/* видео плеър */
#vid1
{
    margin: auto;
}

#Arm_Toggle_Button
{
    width: 150px;
    background: white;
    border-radius: 50px;
    color: #5681A0;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px 0;
    text-align: center;
}

/* header */
.TopBar
{
    top:0;
    width: 100%;
    background-color: #23243C;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2 
{
    text-align: center;
  color: white;
  float: center;
  font-size: 22px;
  margin-bottom: 0px;
  padding: 12px 0;
}


h1, h3, h4
{
    color: white;
    text-align: center;
}

p1
{
    color: white;
}
p5
{
    color: white;
    font-size: 12px;
}

/* бутони в header */ 
.NavBarLink
{
    color: white;
    text-decoration: none;
    padding: 12px 12px 12px 12px; 
    font-size: 20px;
    width: 100%;
}

/* цвят на шрифта на формата*/
.formText
{
    color: white;
    padding-top: 10px;
    margin: middle middle;
}

/* цвят на input текста в полето + input големина*/
.formInput
{
    margin: auto;
    width: 40%;
    color: #B8BCC5
    
}
/* форма за вход */
.LoginForm
{
    top: 0;
    left:0;
    right:0;
    bottom:0;
    height: 20%;
    position: center;
}

/* успех */
.flashSuccess
{
    margin-top: 5px;
    background-color: #084C2A;
    text-align: center;
    color: white;
}

/* грешка */
.flashFailed
{
    background-color: #E50C0C;
    text-align: center;
    color:white;
}

/* проблем */
.flashWarning
{
    background-color: #996600;
    color: white;
    
}

form
{
    width: 50%;
    margin: auto;
    padding: 10px 10px 10px 10px;
}

/* бутон */
.a
{
  width: 100px;
  background: white;
  border-radius: 50px;
  color: #5681A0;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
}
.SubmitBtn
{
    width: 200px;
    background: white;
    border-radius: 50px;
    color: #5681A0;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px 0;
}
