/* Фон на User Control */
.PicDesign
{
    background-image: url(Form_Background.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    margin: 20px auto 0 auto;
    width: 800px;
    height: 450px;

    /* Сянка */
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.72);
    -moz-box-shadow:    0px 0px 25px 0px rgba(50, 50, 50, 0.72);
    box-shadow:         0px 0px 25px 0px rgba(50, 50, 50, 0.72);
}
.PicFormDesign
{
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.PicFormDesign
{
    padding-top: 20px;
}

.PicGroup
{
    padding-top: 30px;
}

.ChosePicFile
{
    width: 300px;
    height: 50px;
    color: white;
    padding: 15px;
    padding-left: 100px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 16px;
    display: block;
    margin: auto;
}

.SubPic
{
    width: 250px;
    height: 50px;
    color: #5681A0;
    background: white;
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 18px;
    display: block;
    margin: auto;
}

.ProfilePicture
{
    display: block;
    margin: auto;
}

/* Дизайн за до 440px екрани */
@media only screen and (max-width: 440px){
    .PicDesign{
        width: 350px;
        height: 400px;
    }
    .ChosePicFile{
    padding-left: 70px;
    }
}
@media only screen and (min-width: 441px) and (max-width: 520px) {    .PicDesign{
        width: 440px;
        height: 400px;
    }
    .ChosePicFile{
    padding-left: 70px;
    }
}