/* фон на полетата */
#userinfo{
    background-image: url(Form_Background.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    margin: 20px auto 0 auto;
    width: 900px;
    height: 500px;

    /* Сянка */
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.72);
    -moz-box-shadow:    0px 0px 25px 0px rgba(50, 50, 50, 0.72);
    box-shadow:         0px 0px 25px 0px rgba(50, 50, 50, 0.72);
}


/* Потребителски настройки */

/* Потребителско поле */
.UserGreeter
{
    padding-top: 30px;
}

/* Линкове към настройки */
.ControlUserMenuLink
{
    display: block;
    color: white;
    font-size: 20px;
    width: 100%;
    transition: 0.4s;
}


.ControlUserMenuLink:hover
{
    color: rgb(95, 95, 95);
    text-decoration: none;
    font-size: 26px;
    width: 100%;
    transition: 0.4s;
    
}

/* Дизайн за до 440px екрани */
@media only screen and (max-width: 440px){
    #userinfo{
        width: 350px;
        height: 450px;
    }
    .ControlUserMenuLink:hover{
        font-size: 1em;
    }
    .ControlUserMenuLink{
        font-size: 1em;
    }
}
@media only screen and (min-width: 441px) and (max-width: 520px) {
    #userinfo{
        width: 440px;
        height: 450px;
    }
    .ControlUserMenuLink:hover{
        font-size: 1em;
    }
    .ControlUserMenuLink{
        font-size: 1em;
    }
}

@media only screen and (min-width: 521px) and (max-width: 640px) {
    #userinfo{
        width: 520px;
        height: 500px;
    }
    .ControlUserMenuLink:hover{
        font-size: 1.2em;
    }
    .ControlUserMenuLink{
        font-size: 1.2em;
    }
}