/* фон на полетата */
#userinfo{
    background-image: url(Form_Background.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    width: 900px;
    height: 500px;

    /* Сянка */
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.72);
    -moz-box-shadow:    0px 0px 25px 0px rgba(50, 50, 50, 0.72);
    box-shadow:         0px 0px 25px 0px rgba(50, 50, 50, 0.72);
}
/* Потребителски настройки */

/* Потребителско поле */
.UserGreeter
{
    padding-top: 30px;
}

/* Линкове към настройки */
.ControlUserMenuLink
{
    display: block;
    color: white;
    font-size: 20px;
    width: 100%;
    transition: 0.4s;
}
.ControlUserMenuLink:hover
{
    color: rgb(95, 95, 95);
    text-decoration: none;
    font-size: 26px;
    width: 100%;
    transition: 0.4s;
    
}