{% extends 'base.html'%}


{% block head %}
    <title>User Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/AdminPanel.css" )}}">
{% endblock head %}
    

{% block body %}


<div class="UserControlBox">
    <a class="RegisterBtn" href="{{url_for('UserControl.RegisterUser', user=current_user.username)}}">Register</a>     
<table class="center">
    
     <tr>
        <th>Profile Picture</th>
        <th>Username</th>
        <th>Password</th>
        <th>Permision</th>
        <th>Delete User</th>
    </tr>
   {% for item in Users %}
   
    <tr>
        <td>
            <span method=post enctype=multipart/form-data>
                <a href="{{url_for('UserControl.ChangeProfilePic', user=item.username)}}">
                    <img src="{{url_for('static', filename="profilePics/" + item.profilePicture)}}"" class="ProfilePictureAdminPanel"/>
                </a>
            </span>
        </td>
        <td><a class="UserControlLink" href="{{url_for('UserControl.UsernameChange', user=item.username)}}">{{item.username}}</a></td>
        <td><a class="UserControlLink" href="{{url_for('UserControl.PasswordChange', user=item.username)}}">Change Password</a></td>
        <td><a class="UserControlLink" href="{{url_for('UserControl.GiveAdminRights', user=item.username)}}">{% if item.isAdmin %} Remove rights {% else %} Give Rights {% endif %}</a></td>
        <td><a class="UserControlLink" href="{{url_for('UserControl.DeleteUser', user=item.username)}}">Delete</a></td>
    
     {% endfor %}
    </tr>
</table>

</div>
{% endblock body %}
    