<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename="css/main.css" )}}">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        {% if current_user.is_authenticated: %}
            <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
            <script>
            window.OneSignal = window.OneSignal || [];
            OneSignal.push(function() {
                OneSignal.init({
                appId: "68c16cd3-65dd-4d94-ae7a-550e64acb7e4",
                });
            });
            </script>
        {% endif %}
            
        {% block head%} {% endblock %}
    </head>
    <body>
        {% if current_user.is_authenticated: %}
        <div class="TopBar">
            <img class="TopBarPicture" src="{{url_for('static', filename='OSC_Logo.png')}}" align="middle" />
            
            <div class = "NavigationBar">
                <a class="NavBarLink" href="/">Main Page</a>
                <a class="NavBarLink" href="{{url_for('UserControl.Userinfo')}}">Profile</a>
                <a class="NavBarLink" href="{{url_for('Recordings.GetRecordingsList')}}">Recordings</a>
                <a class="NavBarLink" href="{{url_for('UserControl.Logout')}}">Log Out</a>
            </div>
        </div>
        {% endif %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages: %}
                {% for category, msg in messages %}
                    <div class="flash{{category}}">
                        {{msg}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="Content">
            {% block body %} {% endblock %}
        </div>
    </body>
</html>