{% extends 'base.html' %}

{% block head %}
<title>Username Changer</title>
{% endblock %}

{% block body %}
<form action="#" method='POST'>
    {{form.hidden_tag()}}
    <!-- currentPassword -->
    {% if current_user.isAdmin == False %}
        {{form.currentPassword.label(class="formText")}}
        <br>
        {{form.currentPassword(class="formInput")}}
        {% if form.currentPassword.errors %}
            {% for error in form.currentPassword.errors%}
                <br><p5>{{error}}</p5>
            {% endfor %}
        {% endif %}
        <br>
    {% endif %}
        
    <!-- Password -->
    {{form.password.label(class="formText")}}
    <br>
    {{form.password(class="formInput")}}
    {% if form.password.errors %}
        {% for error in form.password.errors%}
            <br><p5>{{error}}</p5>
        {% endfor %}
    {% endif %}
    <br>
    <!-- ConfirmPassword -->
    {{form.confirmPass.label(class='formText')}}
    <br>
    {{form.confirmPass(class='formInput')}}
    {% if form.confirmPass.errors %}
        {% for error in form.confirmPass.errors %}
            <br><p5>{{error}}</p5>
        {% endfor %}
    {% endif %}
    <br>
    <!-- Submit form -->
    {{form.submit()}}
</form>
{% endblock %}