{% extends 'base.html' %}

{% block head %}
<title>Username Changer</title>
{% endblock %}

{% block body %}
<form id="form_design" action="#" method='POST'>
    <h2>Change Username for {{userToChange}}</h2>
    {{form.hidden_tag()}}
    <!-- Username -->
    {{form.username.label(class='formText')}}
    <br>
    {{form.username(class='formInput')}}
    
    {% if form.username.errors %}
        {% for error in form.username.errors%}
            <br><p5>{{error}}</p5>
        {% endfor %}
    {% endif %}
    <br>
    {% if current_user.isAdmin != True %}
        <!-- Password -->
        {{form.password.label(class="formText")}}
        <br>
        {{form.password(class="formInput")}}
        {% if form.password.errors %}
            {% for error in form.password.errors%}
                <br><p5>{{error}}</p5>
            {% endfor %}
        {% endif %}
        <br>
        <!-- ConfirmPassword -->
        {{form.confirmPass.label(class='formText')}}
        <br>
        {{form.confirmPass(class='formInput')}}
        {% if form.confirmPass.errors %}
            {% for error in form.confirmPass.errors %}
                <br><p5>{{error}}</p5>
            {% endfor %}
        {% endif %}
    <br>
    {% endif %}
    <!-- Submit form -->
    {{form.submit(class='SubmitBtn')}}
</form>
{% endblock %}