{% extends 'base.html'%}

{% block head %}
    <title>
        Login
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/Login.css" )}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

{% endblock head %}
    

{% block body %}
    <form id="form_design" action="" method='POST'>
        <h1>OpenSecurityCam - Login</h1>
        {{form.hidden_tag()}}
        {{form.username.label(class="formText")}}
        <br>
        {{form.username(class="formInput")}}
        {% if form.username.errors %}
            {% for error in form.username.errors%}
                <br><p5>{{error}}</p5>
            {% endfor %}
        {% endif %}
        <br>
        {{form.password.label(class="formText")}}
        <br>
        {{form.password(class="formInput")}}
        {% if form.password.errors %}
            {% for error in form.password.errors%}
                <br><p5>{{error}}</p5>
            {% endfor %}
        {% endif %}
        <br>
        {{form.stayLoggedIn(class="checkBox")}}
        {{form.stayLoggedIn.label()}}
        <br>
        {{form.submit(class='SubmitBtn')}}
    </form>
{% endblock body %}
    