{% extends 'base.html'%}

{% block head %}
    <title>
        Login
    </title>
{% endblock head %}
    

{% block body %}
    <form action="" method='POST' class="LoginForm">
        <h2>OpenSecurityCam - Login</h2>
        {{form.hidden_tag()}}
        {{form.username.label(class="formText")}}
        <br>
        {{form.username(class="formInput")}}
        {% if form.username.errors %}
            {% for error in form.username.errors%}
                <br><p5>{{error}}</p5>
            {% endfor %}
        {% endif %}
        <br>
        {{form.password.label(class="formText")}}
        <br>
        {{form.password(class="formInput")}}
        {% if form.password.errors %}
            {% for error in form.password.errors%}
                <br><p5>{{error}}</p5>
            {% endfor %}
        {% endif %}
        <br>
        {{form.stayLoggedIn()}}
        {{form.stayLoggedIn.label(class="formText")}}
        <br>
        {{form.submit(class='a')}}
    </form>
{% endblock body %}
    