{% extends 'base.html' %}

{% block head %}
<title>Register</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block body %}
<form id="form_design" action="" method='POST'>
    <h2>Register</h2>
    {{form.hidden_tag()}}
    {{form.username.label(class="formText")}}
    <br>
    {{form.username(class="formInput")}}
        {% if form.username.errors %}
            {% for error in form.username.errors%}
                <br><p5>{{error}}</p5>
            {% endfor %}
        {% endif %}
    <br>
    {{form.password.label(class="formText")}}
    <br>
    {{form.password(class="formInput")}}
    {% if form.password.errors %}
        {% for error in form.password.errors%}
            <br><p5>{{error}}</p5>
        {% endfor %}
    {% endif %}
    <br>
    {{form.confirmPassword.label(class="formText")}}
    <br>
    {{form.confirmPassword(class="formInput")}}
    {% if form.confirmPassword.errors %}
        {% for error in form.confirmPassword.errors%}
            <br><p5>{{error}}</p5>
        {% endfor %}
    {% endif %}
    <br>
    {{form.submit(class='SubmitBtn')}}
</form>
{% endblock %}