{% extends 'base.html'%}


{% block head %}
    <title>User Information</title>
{% endblock head %}
    

{% block body %}
<a class="NavBarLink" href="{{url_for('UserControl.RegisterUser', user=current_user.username)}}">Register</a>
<br>
   {% for item in Users %}
        <p1>{{item.username}} - Admin Rights:{{item.isAdmin}}</p1>
        <a class="UserControlLink" href="{{url_for('UserControl.UsernameChange', user=item.username)}}">Change Username</a>
        <a class="UserControlLink" href="{{url_for('UserControl.PasswordChange', user=item.username)}}">Change Password</a>
        <a class="UserControlLink" href="">Give admin rights</a>
        <a class="UserControlLink" href="">Delete User Account</a>
        <br>
   {% endfor %}
{% endblock body %}
    