{% extends 'base.html'%}


{% block head %}
    <title>User Information</title>
{% endblock head %}
    

{% block body %}


<div class="UserControlBox">
    <a class="RegisterBtn" href="{{url_for('UserControl.RegisterUser', user=current_user.username)}}">Register</a>     
<table class="center">
    
    <br><br><br><br><br>
     <tr>
        <th>Account</th>
        <th>Admin Status</th>
        <th>Username</th>
        <th>Password</th>
        <th>Permision</th>
        <th>Delete User</th>
    </tr>
   {% for item in Users %}
   
    <tr>
        <td><p1>{{item.username}}</p1></td>
        <td><p1>Admin Rights:{{item.isAdmin}}</p1></td>
        <td><a class="UserControlLink" href="{{url_for('UserControl.UsernameChange', user=item.username)}}">Change Username</a></td>
        <td><a class="UserControlLink" href="{{url_for('UserControl.PasswordChange', user=item.username)}}">Change Password</a></td>
        <td><a class="UserControlLink" href="">Give admin rights</a></td>
        <td><a class="UserControlLink" href="">Delete User Account</a></td>
    
     {% endfor %}
    </tr>
</table>

</div>
{% endblock body %}
    