{% extends 'base.html'%}


{% block head %}
    <title>User Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/UserInfo.css" )}}">

{% endblock head %}
    

{% block body %}
<div id="userinfo">
    <div class="UserGreeter">
        <form method=POST enctype=multipart/form-data action="{{ url_for('UserControl.ChangeProfilePic', user=current_user.username) }}">
            <label for="image">
                <input type="image" name="image" id="image" style="display:none;"/>
                <img src="{{url_for('static', filename="profilePics/" + current_user.profilePicture)}}" class="ProfilePicture"/>
                <input type="submit" name="image" id="image" style="display:none;"/>
             </label>
        </form>
        <h1>Hello, {{current_user.username}}</h1>
        <h2 class="AdminStatus">Admin Account: {{current_user.isAdmin}}</h2>
    </div>
    <div class="ControlOptions">
        <a class="ControlUserMenuLink" href="{{url_for('UserControl.UsernameChange', user=current_user.username)}}">Change username</a>
        <br>
        <a class="ControlUserMenuLink" href="{{url_for('UserControl.PasswordChange', user=current_user.username)}}">Change password</a>
        <br>
        {%if current_user.isAdmin%}
            <a class="ControlUserMenuLink" href="{{url_for('UserControl.AdminPanel')}}">User Control</a>
        {%endif%}
    </div>
</div>
{% endblock body %}
    